@use "@/styles/mixins.scss" as *;

.page {
  @include max-width-page;
  @include min-fullscreen;

  padding: 1rem var(--page-padding-hrz);
}

.productsGrid {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  width: 100%;
  overflow: hidden;
}

.productBlock {
  width: 100%;
  overflow: hidden;
}

.coverImage {
  height: 400px;
  background-color: #606060;
  padding: 1rem;
  border-radius: var(--border-radius-card);
  overflow: hidden;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
