@use "@/styles/mixins.scss" as *;

.page {
  display: grid;
  grid-template-columns: 1fr 240px;
  gap: 2rem;

  @include min-fullscreen;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.toc {
  @media (max-width: 1024px) {
    display: none;
  }
}
