.container {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-banner);
  overflow: hidden;
  background-color: rgb(var(--placeholder-rgb));
}

.credit {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #ffffff;
  font-size: 12px;
}
