@use "@/styles/mixins.scss" as *;

$icon-size: calc(var(--font-size-footer) * 1.5 - 2px);

.select {
  opacity: 0;
}

.icon {
  width: $icon-size;
  height: $icon-size;
}

.triggerButton {
  padding: 1px;
}

.triggerPlaceholder {
  @extend .icon;

  padding: 1px;
}
