@use "@/styles/mixins.scss" as *;

$icon-size: calc(var(--font-size-footer) * 1.5 - 2px);

.select {
  opacity: 0;
}

.icon {
  width: $icon-size;
  height: $icon-size;
  fill: rgba(var(--font-color-inactive-rgb));
  transition: var(--duration);
}

.triggerButton {
  background-color: transparent;
  border: none;
  padding: 1px;
  cursor: pointer;
  font-size: 0;

  @include hoverable {
    &:hover .icon {
      fill: rgb(var(--font-color-hover-rgb));
    }
  }
}

.triggerPlaceholder {
  @extend .icon;

  padding: 1px;
}
