@use "@/styles/mixins.scss" as *;

.container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--page-padding-vrt) var(--page-padding-hrz);
  font-size: var(--font-size-footer);
  color: rgb(var(--font-color-weak-rgb));

  @include max-width-page;
}

.authorLink {
  color: rgb(var(--font-color-inactive-rgb));
  transition: var(--duration);

  &:hover {
    color: rgb(var(--font-color-hover-rgb));
  }
}
