.container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: var(--font-size-footer);
  color: rgb(var(--font-color-tint-rgb));
}

.authorLink {
  color: rgb(var(--font-color-rgb));
}
