@use "@/styles/mixins.scss" as *;

.container {
  @include max-width-page;

  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 2rem;
  padding: var(--page-padding-vrt) var(--page-padding-hrz);
  z-index: 1;
}

.logo {
  font-size: 0;
}

.logoLink {
  display: inline-block;
  font-size: var(--font-size-logo);
  font-weight: bold;
}

.links {
  display: grid;
  align-items: center;
}

.link {
  padding: 2px;
}

.icon {
  height: var(--font-size-logo);
}
