@use "@/styles/mixins.scss" as *;

.button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 0;

  svg {
    fill: rgba(var(--font-color-inactive-rgb));
    transition: var(--duration);
  }

  @include hoverable {
    &:hover svg {
      fill: rgb(var(--font-color-hover-rgb));
    }
  }
}
