$nav-link-top-bar-hex: #3674ae;
$nav-link-bottom-bar-hex: #e45064;
$nav-link-border-raduis: 2px;
$nav-link-bar-height: 4px;
$nav-link-bar-width: 1rem;
$nav-link-bar-rotate: 30deg;
$nav-link-bar-start-tx: 50%;
$nav-link-bar-end-tx: 0%;
$nav-link-transition-duration: 0.2s;

.container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 3rem;
}

.nav {
  display: grid;
  grid-auto-flow: column;
  gap: 1.5rem;
}

.navLink {
  position: relative;
  display: inline-block;
  font-size: var(--font-size-nav);
  font-weight: 500;

  &::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: $nav-link-bar-height;
    width: $nav-link-bar-width;
    border-radius: $nav-link-border-raduis;
    z-index: -1;
    transition: $nav-link-transition-duration;
    background-color: transparent;
    transform: translate(-$nav-link-bar-start-tx, 100%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    height: $nav-link-bar-height;
    width: $nav-link-bar-width;
    border-radius: $nav-link-border-raduis;
    z-index: -1;
    transition: $nav-link-transition-duration;
    background-color: transparent;
    transform: translate($nav-link-bar-start-tx, -50%);
  }

  &.active {
    &::before {
      background-color: $nav-link-bottom-bar-hex;
      transform: translate(-$nav-link-bar-end-tx, 100%);
      width: 100%;
    }

    &::after {
      background-color: $nav-link-top-bar-hex;
      transform: translate($nav-link-bar-end-tx, -50%);
      width: 100%;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .navLink:hover {
    &::before {
      background-color: $nav-link-bottom-bar-hex;
      transform: translate(-$nav-link-bar-end-tx, 100%);
    }

    &::after {
      background-color: $nav-link-top-bar-hex;
      transform: translate($nav-link-bar-end-tx, -50%);
    }
  }
}

@media (prefers-reduced-motion) {
  .navLink {
    &::before {
      background-color: $nav-link-bottom-bar-hex;
      transform: none;
    }

    &::after {
      background-color: $nav-link-top-bar-hex;
      transform: none;
    }
  }
}
