@use "@/styles/mixins.scss" as *;

:root {
  --max-page-width: 1536px;

  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-size: 16px;
  --font-size-logo: 22px;
  --font-size-footer: 14px;
  --font-size-nav: 18px;
  --font-size-about-title: 40px;

  --page-padding-vrt: 2rem;
  --page-padding-hrz: 3.5rem;

  @include device("m") {
    --page-padding-vrt: 1.5rem;
    --page-padding-hrz: 2.5rem;
  }
  @include device("s") {
    --page-padding-vrt: 1rem;
    --page-padding-hrz: 1.5rem;
  }

  --border-radius-banner: 20px;
  --border-radius-card: 16px;
  --duration: 0.2s;

  --header-height: calc(var(--font-size-logo) * 1.5 + var(--page-padding-vrt) * 2);
  --footer-height: calc(var(--font-size-footer) * 1.5 + var(--page-padding-vrt) * 2);

  --accent-blue-hex: #3271ac;
  --accent-red-hex: #e45064;
  --accent-yellow-hex: #ef9f50;

  --font-color-rgb: 0, 0, 0;
  --font-color-weak-rgb: 150, 150, 150;
  --font-color-inactive-rgb: 100, 100, 100;
  --font-color-hover-rgb: 50, 50, 50;
  --font-color-minor-rgb: 80, 80, 80;
  --background-rgb: 245, 245, 245;
  --placeholder-rgb: 235, 235, 235;
  --placeholder-2-rgb: 215, 215, 215;

  --blob-1: 26% 74% 59% 41% / 59% 64% 36% 41%;
  --blob-2: 24% 76% 35% 65% / 27% 36% 64% 73%;
  --blob-3: 75% 25% 25% 75% / 45% 61% 39% 55%;
  --blob-4: 57% 43% 31% 69% / 47% 60% 40% 53%;
  --blob-5: 64% 36% 37% 63% / 72% 60% 40% 28%;
  --blob-6: 36% 64% 64% 36% / 36% 73% 27% 64%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color-rgb: 255, 255, 255;
    --font-color-weak-rgb: 105, 105, 105;
    --font-color-inactive-rgb: 155, 155, 155;
    --font-color-hover-rgb: 205, 205, 205;
    --font-color-minor-rgb: 175, 175, 175;
    --background-rgb: 10, 10, 10;
    --placeholder-rgb: 20, 20, 20;
    --placeholder-2-rgb: 40, 40, 40;
  }

  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: rgb(var(--font-color-rgb));
  background: rgb(var(--background-rgb));
  font-size: var(--font-size);
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}
