@mixin maxWidthPage {
    max-width: var(--max-page-width);
    margin: 0 auto;
}

@mixin fullscreen {
    height: calc(100dvh - var(--header-height) - var(--footer-height));
}

@mixin minFullscreen {
    min-height: calc(100dvh - var(--header-height) - var(--footer-height));
}
